{% extends "accounts/base.html" %}

{% block content %}

<div class="col-md-6">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Создание тикета</h3>
        </div>
        <div class="box-body">
        <form method="POST" role="form" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Создание тикета</button>
        </form>
        </div>
    </div>
</div>

{% endblock %}

