{% extends 'accounts/base.html' %}

{% block content %}
<div class="row">

<div class="col-md-4">
	<div class="payment-card">
		<img src="http://www.webmoney.ru/img/icons/wmlogo_vector_blue.png" class="img-responsive" alt="Cinque Terre" width="304" height="236">
			<h2><a href = ""><h2>Пополнить</h2></a></h2>
			<div class="row">
				<div class="col-sm-6">
				<small>
					<strong></strong>
 						
				</small>
			</div>
			<div class="col-sm-6 text-right">
			<small>
				<strong></strong>
				                                 
			</small>
		</div>
	</div>
</div>
</div>
</div>

{% endblock %}

