{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}
<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name"></h1>
        </div>
        <form class="m-t" role="form" action="" method="post">
        {% csrf_token %}
        <fieldset>
        <legend>{% trans "Авторизация" %}</legend>
        {{ form.non_field_errors }}
            {% for field in form %}
            {{ field.errors }}
            {% comment %} Displaying checkboxes differently {% endcomment %}
                {% if field.name == 'remember_me' %}
                    <p class="checkbox">
                        <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
                    </p>
                {% else %}

             <div class="form-group">

                {{ field }}
            </div>

            {% endif %}
            {% endfor %}
  </fieldset>
                <input type="submit" class="btn btn-primary block full-width m-b" value="{% trans "Авторизация" %}" />
                <p class="forgot-password"><a href="{% url 'userena_password_reset' %}" title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a></p>
                {% if next %}<input type="hidden" name="next"  value="{{ next }}" />{% endif %}
            </form>

<a href="{% url 'socialauth_begin' 'vk-oauth' %}">Enter VK</a>

</form>
        </div>
    </div>
{% endblock %}
