{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Signup almost done!" %}{% endblock %}

{% block content_title %}<h2>{% trans "" %}</h2>{% endblock %}

{% block content %}

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name"></h1>
        </div>

<p>{% trans "Спасибо за вашу регистрацию!" %}</p>

{% if userena_activation_required %}
<p>{% blocktrans %}Вам было отправлено по электронной почте письмо с ссылкой для активаций.{% endblocktrans %}</p>
<p>{% blocktrans %}Актвировать вашу запись можно в течений {{ userena_activation_days }} дней. {% endblocktrans %}</p>
{% else  %}
<p>{% blocktrans %}Теперь вы можете использовать свой учетные данные для входа.{% endblocktrans %}</p>
{% endif %}

        </div>
 </div>


{% endblock %}
